<div class="container">
  <h2>New in Smart Phones</h2>

  <div class="more-products">
    <app-product>
      <h4 class="title">New in iPhone</h4>
<!-- Here we have passed some html contend inside the component selector BECAUSE of NG CONTENT-->
      <button class="btn btn-more">Show more in iPhone</button>
  <!-- NG CONTENT has been raplacet by h4 and this button element -->
    </app-product>
    <app-product>
      <h4 class="title">New in Samsung</h4>
<!-- Here we have passed some html contend inside the component selector BECAUSE OF NG CONTENT -->
      <button class="btn btn-more">Show more in Samsung</button>
  <!-- NG CONTENT has been raplacet by h4 and this button element -->
    </app-product>
    <app-product>
      <h4 class="title">New in OnePlus</h4>
<!-- Here we have passed some html contend inside the component selector BECAUSE OF NG CONTENT-->
      <button class="btn btn-more">Show more in OnePlus</button>
  <!-- NG CONTENT has been raplacet by h4 and this button element -->
    </app-product>
    <app-product>
      <h4 class="title">New in MI</h4>
<!-- Here we have passed some html contend inside the component selector BECAUSE OF NG CONTENT-->
      <button class="btn btn-more">Show more in MI</button>
  <!-- NG CONTENT has been raplacet by h4 and this button element -->
    </app-product>
  </div>
</div>
<!-- Using NG CONTENT we can pass some html content iside the component selector
and when angular passes that html content it appears in place of NG CONENT directive!
We use NG CONTENT when we want to insert the content dynamically inside the component -->
